body {
  overflow: hidden;
}

/* nav - bar */ 

#nav-bar {
  margin-top: 11px;
  height: 5vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: row;
  font-family: fantasy;
  justify-content: space-around;
}
.navHead {
  height: inherit;
  width: 24%;
  padding-top: 1vh;
  padding-bottom: 1vh;
  display: flex;
  border: 2px solid rgb(77 60 45 / 41%);
  border-radius: 30px;
  background-color: #0000008c;
}
button {
  margin: auto;
  border: 2px solid rgb(26, 230, 196);
  border-radius: 20px;
  color: rgb(20, 13, 3);
  font-family: fantasy;
  background-color: #f7e0e0;
  cursor: pointer;
}

#dayNight {
  width: 20%;
}


#container {
  height: 100vh;
  width: 100vw;
  background-image: url(interior.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 0px;
  position: absolute;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@keyframes night {
  0% {
    filter: brightness(100%);
  }
  100% {
    filter: brightness(30%);
  }
}

@keyframes day {
  0% {
    filter: brightness(30%);
  }
  100% {
    filter: brightness(100%);
  }
}
#clock-bg {
  height: 27%;
  width: 12.5%;
  background-color: transparent;
  position: fixed;
  margin-top: 28vh;
  margin-left: 43vw;
  border-radius: 50%;
  border: 4px solid red;
  z-index: 0;
}

#hour,
#minute,
#second {
  position: absolute;
  border-radius: 10px;
  transform-origin: bottom;
  background: black;
}

#hour {
  height: 30%;
  width: 4.6%;
  top: 20%;
  left: 48.9%;
}
#minute {
  height: 35%;
  width: 3%;
  top: 15.8%;
  left: 49%;
}
#second {
  height: 43%;
  width: 2%;
  top: 6.3%;
  left: 49.5%;
}

#pendulum {
  height: 53%;
  width: 10.5%;
  background-color: #90356b;
  position: absolute;
  margin-top: 12.5vh;
  margin-left: 5.5vw;
  z-index: -1;
  border-radius: 50%;
  border: 3px solid #34212a;
  animation-name: oscillate;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  transform-origin: top;
  opacity: 0;
}
@keyframes oscillate {
  0% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

#painting {
  height: 23%;
  width: 15.5%;
  background-color: transparent;
  position: fixed;
  margin-top: 22vh;
  background-size: cover;
  margin-left: 61vw;
  border: 3px solid rgb(0, 0, 0);
  box-shadow: 0.5vw -1vh #541616;
}
#peek {
  height: 16%;
  width: 10.5%;
  background-color: transparent;
  background-image: url(jump.gif);
  background-size: cover;
  position: fixed;
  margin-top: 65vh;
  margin-left: 11vw;
  transform: rotate(-4deg);
  opacity: 0;
}
#plane {
  height: 16%;
  width: 10.5%;
  background-color: transparent;
  background-image: url(plane.gif);
  background-size: cover;
  position: fixed;
  background-position: left;
  margin-top: 6vh;
  margin-left: 10.7vw;
  opacity: 0;
  transform: rotate(5deg);
}

#birds {
  height: 41%;
  width: 8.5%;
  background-color: transparent;
  background-image: url(birds.gif);
  background-size: cover;
  position: fixed;
  background-position: left;
  margin-top: 6vh;
  margin-left: 13vw;
  transform: rotate(-3deg);
  opacity: 0;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
  animation-direction: normal;
  border: 2p;
}

@keyframes birds {
  0% {
    background-position: left;
    width: 8.5%;
  }
  99% {
    background-position: right;
    width: 8.5%;
  }
  100% {
    background-position: right;
    width: 0%;
  }
}

#bulb {
  height: 62%;
  width: 14.6%;
  background-color: #88272700;
  background-size: cover;
  position: fixed;
  margin-top: 8vmin;
  margin-left: 48vw;

  background: yellow;
  opacity: 0.7;
  transform: perspective(19vmin) rotateX(18deg);
  z-index: -1;
  box-shadow: 0 27px 142px 90px yellow;
}

@media (max-width: 600px) {
  #nav-bar {
    margin-top: 11px;
    height: 34vh;
    width: 41vw;
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    justify-content: center;
    right: 4vw;
    top: -6vh;
  }
  .navHead {
    height: inherit;
    width: auto;
    display: flex;
    border: 3px solid rgb(77, 60, 45);
    border-radius: 30px;
  }
  .navHead {
    height: 18%;
    width: auto;
    display: flex;
    border: 3px solid rgb(77, 60, 45);
    border-radius: 30px;
  }
  #dayNight {
    width: auto;
  }
}
